body{
  background-color: rgb(20,20,20,255);
  text-align: center;
  color: white;
}

#face {
  margin: 0 auto;
  max-width: 100px;
  padding-top: 10px;
  padding-bottom: 30px;

}

.eyes1,  #face rect{
fill:rgb(255,255,255)
}

.eyes2{
  opacity: 0;
  fill:none;
  stroke: white;
  stroke-width: 15.539;
}
#face:hover .eyes2{

  opacity: 1;
}
#face:hover .eyes1{
  opacity: 0;
}

.App{
height:100%;
}

#leftC{


}

#rightC{
margin: 0 auto;
max-width: 50%;
border-top: 1px solid white;
}


@media only screen and (min-width: 768px) {
.App{
margin-top:15%;
margin-bottom:15%;
height:100%;
}

#leftC{
  vertical-align: middle;
  display: inline-block;
  max-width: 50%;
  position: relative;
}

#rightC{
  right:10%;
  vertical-align: middle;
  display: inline-block;
  max-width: 10%;
  position: fixed;
  border-top: none;

}
}

.active, .accordion:hover, #nav p:hover {
    color: red;
}

.accordion, #nav p {
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
}
